
{% extends 'blog/base.html' %}

{% block content %}
  <h2>{{ post.title }}</h2>
  <p>{{ post.content }}</p>
  <p><strong>Author:</strong> {{ post.author.username }}</p>
  <p><strong>Category:</strong> {{ post.category.name }}</p>
  <p><strong>Likes:</strong> {{ like_count }}</p>
  <p><strong>Dislikes:</strong> {{ dislike_count }}</p>

  <a href="{% url 'like-post' post.id %}"> Like</a>
  <a href="{% url 'dislike-post' post.id %}"> Dislike</a>
  <a href="{% url 'comment-list-create' post.id %}">Comment</a>


  <hr>
  <h3>Comments</h3>

  {% for comment in comments %}
  <p>
    <strong>
      {% if comment.user %}
        {{ comment.user.username }}
      {% else %}
        Anonymous
      {% endif %}
    </strong>: {{ comment.content }}
  </p>
  <p>{{ comment.created_at }}</p>


    <a href="{% url 'comment-like' comment.id %}"> Like ({{ comment.likes.count }})</a>
    <a href="{% url 'comment-dislike' comment.id %}"> Dislike ({{ comment.dislikes.count }})</a>
    

    <hr>
  {% empty %}
    <p>No comments yet.</p>
  {% endfor %}

  <a href="{% url 'post_list_create_view' %}">Back to Post List</a>
{% endblock %}

